Vorlesungsaufzeichnungen Grundlagen der künstlichen Intelligenz (WS242400158)/
Übungsbetrieb/
/*.pdf
Übung 1/Python/Numpy Tutorial (non-graded) (Verpflichtend)/COVID-19-geographic-disbtribution-worldwide.xlsx
.cookies
.report
*.code-workspace
Description.html
Altklausuren Grundlagen der künstlichen Intelligenz/
Übung 3/Neuronale Netze und Backpropagation/MNIST
*/*/Abgegebene Dateien/*
*.zip
Übung 4/ex_04_variational_autoencoder/MNIST/raw/*
Übung 5_ CNNs und Suche/Übung 5_ CNNs und Suche (Verpflichtend)/oxford_pet/*
Übung 5_ CNNs und Suche/Übung 5_ CNNs und Suche (Verpflichtend)/oxford_pet_annotations.tar.gz
Übung 5_ CNNs und Suche/Übung 5_ CNNs und Suche (Verpflichtend)/oxford_pet_dataset.tar.gz
Übung 5_ CNNs und Suche/Übung 5_ CNNs und Suche (Verpflichtend)/edge_detection_gecko.jpeg
